.jumbotron {
  box-sizing: border-box;
  height: 600px;
  background-color: rgba(0, 0, 0, 0);
}

h1 {
  background-color: #b38f00;
  border-radius: 10px;
}
.btn {
  background-color: #b38f00;
  border-color: black;
  margin-left: 45%;
}
.btn:hover {
  background-color: black;
  border-color: #b38f00;
  color: #b38f00;
 
}

body {
  background-image: url("../images/Restaurant.png");
  color: white;
}

.row{
  background-color: black;
  border-radius: 25px;
  opacity: .9;
}
#done {
  padding-top: 20px;
  background-color: #b38f00;
  width: 100%;
  margin-top: 25px;
  border-radius: 5px;
  border-color: black;
}